

.loginTitle{
    /* background-color: wheat; */
    font-size: 20px;
    padding: 30px 0px 0px 0px;
    width: 96%;
    float: right;
    text-align: left;
}

.loginBox{
    border-radius: 10px;
    width: 50%;
    background-color: orange;
    height: auto;
    text-align: center;
    margin: 30px auto 30px auto;
}

.textbar{
    margin-top: 30px;
    padding: 8px 0px 8px 10px;
    font-size: 15px;
    /* width: 90%; */
}

