/* modifyCard 所有card head的style改變 */
.modify-card-collapse .ant-card-head{
    border-radius: 0;
    background: linear-gradient(0deg, rgb(246, 150, 83) 0%, rgb(255, 172, 112) 100%);
}

/* modifyCard 所有card 內容改變 */
.modify-card-collapse .ant-card-body{
    background: #F7E9DF;
}

/* 上傳檔案的垃圾桶顯示 */
.modify-card-collapse .ant-upload-list-item-card-actions .ant-btn{
    display: contents;
}

.modify-card-card-tile{
    margin-left: 15px;
}


.modify-card{
    margin-bottom: 30px;
    background-color: orange;
}

.modify-card-title{
    font-size: 16px;
    font-weight: bold;
}

.modify-card-collapse .ant-collapse-content-box{
    background-color: #F7E9DF;
    padding: 0;
}