.back-top-button{
    font-size: 22px;
    height: 40px;
    width: 40px;
    line-height: 30px;
    border-radius: 100px;
    background: linear-gradient(0deg, #538CF6 0%, #538CF6 100%);
    color: #fff;
    text-align: center;
    opacity: 0.85;
}

.back-top-button:hover{
    background: linear-gradient(0deg, #538CF6 0%, #70A2FF 100%);
    color: #e6e6e6;
    opacity: 1;
}
