.render-body-margin{
    margin-top: 64px;
    height: 100%;
    /* background-color: orange; */
}

/* upper bar V */
.my-header{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logo {
    background-color: #001529;
    width: 40px;
    cursor: pointer;
    vertical-align: middle;
}
