.render-body-margin{
    margin-top: 64px;
    height: 100%;
    background: #F7E9DF;
}

/* upper bar V */
.my-header{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logo {
    width: 36px;
    cursor: pointer;
    vertical-align: middle;
}
