/* Small devices (landscape phones, 576px and up) */
/* Only have right yellow cards */

@media (max-width:576px){

    .detail-card{
        /* display: none; */
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 1;
    }

}

.selected-default-card{
    border: 5px #0d6efd solid;
}

.default-card-screen{
    height: calc(100vh - 4rem);
    overflow-y: auto;
}