
.modify-cards-screen{
    left: 100%;
    height: calc(100vh - 4rem); 
    /* padding-left: 0.25rem; */
    /* margin-left: -0.25rem; */
    overflow-y: auto;
}

.edit-button{
    float: right;
}

/* 
#guideMark{
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

#guideMark:hover svg{
    width: 75px;
    height: 75px;
}

#guideMark svg{
    width: 70px;
    height: 70px;
} */

/* Small devices (landscape phones, 576px and up) */
/* Only have right yellow cards */
@media (max-width:576px){

    .modify-with-default-screen{
        width: 100%;
    }

    .right-select-bar{
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
/* default and modify cards 100%*/
@media (max-width:768px){

    .modify-with-default-screen{
        width: 100%;
    }
}