.fixed-game-footer{
    bottom: 0;
    left: 0;
    padding: 8px 50px;
    background-color: rgba(0, 0, 0, 0.664);

    /* antd */
    position: fixed;
    z-index: 1;
    width: 100%;
    /* antd */
}


.modify-cards-screen{
    left: 100%;
    height: calc(100vh - 4rem); 
    /* padding-left: 0.25rem; */
    /* margin-left: -0.25rem; */
    overflow-y: auto;
}


/* Small devices (landscape phones, 576px and up) */
/* Only have right yellow cards */
@media (max-width:768px){

    /* .modify-with-default-screen{ */
        /* width: 100%; */
    /* } */

    .right-select-bar{
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
/* default and modify cards 100%*/
/* @media (max-width:768px){ */

    /* .modify-with-default-screen{
        width: 100%;
    } */
/* } */

.preview-button-PC{
    display: block;
    gap: 8px
}

.preview-button-mobile{
    display: none;
    gap: 0
}

@media (max-height:850px) , (max-width:768px) and (min-height:850px){
    .preview-button-PC{
        display: none;
        gap: 0
    }

    .preview-button-mobile{
        display: block;
        gap: 8px
    }
}
